.user-container {
  background-image: url('/Images/J4x.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

h2 {
  color: #fff;
}

.card {
  background-color: #f8f9fa;
}

.card-title {
  color: #007bff;
  font-size: 1.25rem;
}

button:disabled {
  opacity: 0.65;
}

.button-space {
  margin-left: 8px;
}